.gHolder{
   position:relative;
   width:150px;
   height:160px;
}

.gBackground{
  background-position: -4px -18px;
  background-repeat: no-repeat;
  width:150px;
  height:150px;
  position:absolute;
  z-index:10;
}

.gLabel{
  position:absolute;
  z-index:30;
  width:150px;
  height:30px;
  top:10px;
  text-align:center;
  color:#2b2b2b;
}

.gFill{
  background-position:-336px -12px;
  background-repeat: no-repeat;
  width:150px;
  height:0;
  bottom:15px;
  left:3px;
  position:absolute;
  z-index:20;
}

.gGlass{
  background-position:-162px -19px;
  background-repeat: no-repeat;
  width:150px;
  height:160px;
  position:absolute;
  z-index:40;
  font-family:impact;
  font-size:40px;
}

.gBigNumber{
  position:absolute;
  background-image: none;
  background-repeat: no-repeat;
  z-index:30;
  font-family:impact;
  font-size:60px;
  line-height:60px;
  top:60px;
  right:50px;
  text-align:right;
}

.gSmallNumber{
  position:absolute;
  z-index:30;
  font-family:impact;
  font-size:30px;
  line-height:30px;
  top:87px;
  right:20px;
  text-align:right;
}

.gGreen, .g_good, .g_okay {
	background-image: url('images/gauge-green.png');
}

.gRed, .g_ugly {
	background-image: url('images/gauge-red.png');
}

.gOrange, .g_bad {
	background-image: url('images/gauge-orange.png');
}

